body { 
    background-attachment:
        
}
* {
    box-sizing: border-box;
}

h1 {
    color: #cccccc ;
    font-size: 40px;
}

h2 {
    font-size: 20px;
    color: #0021a5;
}

p {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

img {
    float: left;
    border: 1%;
    margin: 0 5% 0 5%;
    padding: 1%; /* TRoubLe */
    width: 40%;
}

nav {
    list-style-type: none;
    padding-right: 10px;
    text-align:center;
    text-transform: uppercase; 
}

nav li { 
    display: inline;
    margin-right: 30px
}
    
#content {
    background-color: gray;
    border: 1px solid red;
    margin-left: 35%;
    width: 65%;
    
    }
@media screen and (max-width: 600px) {

   body {
      padding: 3%;
}

h1, h2 {
    text-align: center;
}

nav{
    border:0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-left: 10px;
}

#content {
    clear: left;
    margin-left: 0;
    width: 100%;
}

}
    
