body { 
    background: url(../img/bg-stripes.jpg) repeat-x;
    
    
}
* {
    box-sizing: border-box;
}

#wrapper {
    max-width: 960px;  
    margin: 0 auto;
    padding
    background-color:
    
}

article {
list-style-position: outside;
}


h1 {
    color: #DB7093;
    float: left;
    font-size: 40px;
    Margin: 20px;
    font-size-adjust: auto  
    
}

p {
    font-family:;
        
}

h2 {
    font-size: 45px;
    color: #DB7093;
    border-bottom-style: hidden;
    align-content: center; 30px;
    padding-top: 150px; 
    width:   
        
}

h3 {
    font-size: 30px;
    align-content: center;
    color: #DB7093;
    border-bottom-style:hidden
        
    
        
}

h4 {
    font-size: 20px;
    color: #DB7093;
    border-bottom-style:hidden}

h5 {
    
    font-size: 20px;
    color: #DB7093;
    border-bottom-style:hidden    
}
h6 {
    
    font-size: 18px;
    color:#707070;
    border-bottom-style:hidden
}

h7 {
    
    font-size: 17px;
    color:#707070;
    border-bottom-style:hidden
        
}

h8 {
    
    font-size: 17px;
    color:#707070;
    border-bottom-style:hidden
        
}

h9 {
    
    font-size: 17px;
    color:#707070;
    border-bottom-style:hidden
        
}

h10 {
    
    font-size: 17px;
    color:#707070;
    border-bottom-style:hidden
        
}

h11{
    
    font-size: 17px;
    color:#707070;
    border-bottom-style:hidden
        
}

h12 {
    
    font-size: 17px;
    color:#707070;
    border-bottom-style:hidden
        
}

h13 {
    
    font-size: 17px;
    color:#707070;
    border-bottom-style:hidden
        
}


h14 {
    
    font-size: 17px;
    color:#707070;
    border-bottom-style:hidden
        
}

p {
    color:#707070;
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 20px;
    
    
}

img {
    float: center; 100%;
    border: 70%;
    margin: 2.7% 10% 0 10%;
    padding-top: 100px;
    width: 80%;
    height: 20%;
}

nav {
    list-style-type: none;
    padding-right: ;
    text-align: center;
    text-transform: uppercase;
    padding-top: 150px;
    color:
    
    
}

nav li { 
    display: inline;
    margin-right: 20px;
    list-style-type: inline;
    text-align: bottom;
    
        
        
}

#content {
    background-color:;
    border: 1px
    margin-left: 4%;
    width: 60%;
    
}

  footer {
    border:0;
    width: 100%;
    
    

}
footer ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

footer li {
    display: inline;
    margin-left: 10px;
}
    


@media screen and (max-width: 600px) {

body {
      padding: 3%;
}

h1, h2 {
    text-align: center;
    font-size: 45px
}
   
img {

        width: 80%;
        height: 20%;
        
    }

    
    
nav {
    border: 0;
    width: 100%;
    padding-bottom: 0px;    
        
        
}

nav ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

nav li {
    display: inline;
    margin-left: 10px;
}

#content {
    clear: left;
    margin-left: 0;
    width: 100%;
}
    
    .phone-noshow {
        display: none;   
    }

    
    
footer {
    border:0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

footer li {
    display: inline;
    margin-left: 10px;
}
    
    
    

}    
